*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: pixel;
    src: url('pixel.ttf');
}
body {
    height: 100vh;
    background-color: rgb(29, 28, 28);
    overflow: hidden;
    font-family: pixel, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    padding: 30px;
    background-color: rgb(20, 19, 19);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(226, 43, 43);
    font-weight: 600;
    margin-bottom: 30px;
}
.choice-container {
    margin-top: 50px;
    background-color: rgb(20, 19, 19);
    width: 550px;
    height: 250px;
    padding: 50px;
    color: rgb(226, 43, 43);
}
.choice-container h1 {
    text-align: center;
}
.btn-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    margin-top: 20px;
}
.choice-btn, .play-again {
    padding: 10px 20px;
    font-size: 25px;
    border: 2px solid rgb(226, 43, 43);
    background-color: transparent;
    color: rgb(226, 43, 43);
    transition: all 0.5s;
    font-family: pixel, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.play-again {
    margin-top: 30px;
    background-color: rgb(31, 13, 13);
}
.choice-btn:hover, .play-again:hover {
    cursor: pointer;
    background-color: rgb(7, 3, 3);
    transform: scale(1.2);
}
.choice-btn i {
    margin-top: 10px;
    font-size: 40px;
}
.instructions {
    font-size: 30px;
    color: rgb(226, 43, 43);
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 550px;
    margin-top: 40px;
}
.player-con, .computer-con{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: row;
    gap: 10px;
    color: rgb(99, 226, 49);
}
.player-selection, .computer-selection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    gap: 10px;
    color: rgb(99, 226, 49);
    margin-top: 10px;
}
.player-selection .fa-hand-scissors-o{
    transform: scale(-1, 1);
}
.computer-selection{
    justify-content: flex-end;
}
.computer-con, .computer-selection{
    color: lightblue;
}
.round-results{
    font-size: 30px;
    font-weight: 700;
}
@media only screen and (max-width: 670px){
    .header{
        font-size: 40px;
    }
    .choice-container {
        width: 450px;
        height: 250px;
    }
    .choice-btn, .play-again{
        font-size: 20px;
    }
    .instructions{
        font-size: 25px;
    }
    .player-con, .computer-con{
        font-size: 40px;
    }
    .player-selection, .computer-selection{
        font-size: 40px;
    }
    .round-results{
        font-size: 20px;
    }
    .score-container{
        width: 500px;
    }
}
@media only screen and (max-width: 570px){
    .header{
        font-size: 30px;
    }
    .choice-container {
        width: 350px;
        height: 250px;
    }
    .instructions{
        font-size: 16px;
    }
    .score-container{
        width: 400px;
    }
    .player-selection, .computer-selection{
        font-size: 30px;
    }
    .choice-container h1 {
        font-size: 20px;
    }
    .player-con, .computer-con{
        font-size: 35px;
    }
}
@media only screen and (max-width: 467px){
    .choice-container {
        width: 250px;
        height: fit-content;
        padding: 40px;
    }
    .score-container{
        width: 300px;
    }
}
@media only screen and (max-width: 385px){
    .header{
        font-size: 25px;
    }
    .instructions{
        font-size: 13px;
    }
    .round-results{
        font-size: 16px;
    }
    .player-selection, .computer-selection{
        font-size: 25px;
    }
    .player-selection, .computer-selection{
        font-size: 25px;
    }
    .player-con, .computer-con{
        font-size: 35px;
    }
}